/* business area  */
.business-icon i {
    font-size: 50px;
    margin-bottom: 10px;
}

.business-icon-statistics h5 {
    font-size: 22px;
}

.business-icon-title h4 {
    font-size: 20px;
}

/* testimonial-area  */

.testimonial-wrapper {
    position: relative;
}

.testimonial-wrapper .react-multi-carousel-list {
    position: unset !important;
}

.testimonial-wrapper .commonArrow {
    position: absolute;
    z-index: 112;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: green;
    color: #fff;
    line-height: 16px;
    text-align: center;
    transition: .3s;
    border: none;
}

.testimonial-wrapper .commonArrow:hover {
    color: #101621;
}

.testimonial-wrapper .arrowRight {
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-wrapper .arrowLeft {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

/* footer  */
.footer-top-left ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-right ul li {
    display: inline-block;
    color: #fff;
}

.footer-right ul li a {
    margin-left: 20px;
    cursor: pointer;
}

/* brands  */

/* login  */

.register,
.reset {
    cursor: pointer;
}

/* Loading  */
.load-parent {
    height: 50vh;
    text-align: center;
    position: relative;
}

.load {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* Google btn  */
.google-btn-bg {
    background-color: #fff;
    border: 1px solid #229F44;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    transition: .3s;
}

.google-btn-bg {
    background-color: hwb(0 83% 14%);
}

.google-btn-bg:hover {
    background-color: #2dbcb0;
}

.google-btn-bg:hover .logo-icon {
    color: #fff;
}

.logo-icon {
    color: #000;
}

.logo-icon img {
    display: inline-block;
}

/* not found  */
.not-found img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* single-blog  */
.single-blog {
    margin-bottom: 20px;
}

.single-blog h3{
    margin-bottom: 15px;
}

.single-blog p{
    font-size: 18px;
    text-align: justify;
}

/* portfolio-wrap */
.portfolio-wrap span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}
.portfolio-wrap p a{
    margin-right: 10px;
}

/* nested-dashboard */
.nested-dashboard ul li a.active{
background-color: #fff;
color: #000;
}